* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #eee;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  display: flex;
}

main-nav {
  display: flex;
}

.main-nav h1 {
  color: #3777bbbc;
  margin: 20px;
  text-align: center;
}

.postbox {
  display: flex;
  margin: 20px;
  padding: 5px;
  background-color: #e1ecf7;
  color: black;
  border: 1px solid black;
  min-height: 8rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 2px 2px 3px #275586a3;
}

.postbox h2 {
  background-color: #aecbeb;
  color: #3777bbbc;
  text-align: center;
  padding: 10px;
  margin: 5px;
  flex: auto;
}

.postbox p {
  display: flex;
  padding: 5px;
  background-color: #aecceb80;
  color: black;
  padding: 10px;
  margin: 5px;
  text-align: center;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fb;
  align-items: stretch;
}

div.app h1 {
  color: #3777bbbc;
  background-color: #aecbeb;
  padding: 20px;
  box-shadow: 5px 10px #3777bbbc;
  text-align: center;
  margin: 20px 0 5px 0;
}

div.main {
  color: black;
  background-color: #aecbeb;
}

/* .profile {
} */

.nav-list {
  display: flex;
  flex: 1 1 10px;
  flex-direction: column;
}

.nav-list li {
  list-style-type: none;
  text-align: center;
  background-color: #3777bbbc;
  font-size: 1.1rem;
  padding: 5px 2px;
  margin: 5px 10px;
  text-decoration: none;
  color: white;
}
